extends base
block content
    hr.feed__row
    div.feeds 
        //- run a for loop
        - for(let i=0;i<feed.length;i++){
            include _post_small
        - }
        
        //- include _post_small
        //- include _post_small
        //- include _post_small

        