extends base 
block content
    section.PostBig
        include _post_big
        div.profile__rule__box
            hr.profile__rule
            h5.profile__rule__title Comments
        div.form__container 
            form(action="/comment/"+post._id, method="post",id="commentForm") 
                textarea.profile__description(name="comment", rows="10", placeholder="What have you got to say??")
                button.singInPopup__main__link(type="submit") Submit
        div.comments 
            - for(let c=0;c<comments.length;c++){
                    include _comment
            - }
            //- include _comment
            //- include _comment
            //- include _comment
            //- include _comment